:root{
  --blue900: hsl(216.49deg 85.06% 34.12%);
  --blue400: hsl(206.82deg 89.95% 60.98%);
  --blue100: hsl(207.19deg 88.89% 85.88%);
  --aqua: hsl(163.64deg 86.67% 67.65%);
  --butterfly: hsl(315.56deg 71.68% 77.84%);
  --success-color: hsl(109.41deg 40.16% 24.9%);
  --success-bg-color: hsl(108.39deg 40.26% 84.9%);
  --warning-color: hsl(40deg 40.16% 24.9%);
  --warning-bg-color: hsl(40.65deg 40.26% 84.9%);
  --error-color: hsl(349.41deg 40.16% 24.9%);
  --error-bg-color: hsl(348.39deg 40.26% 84.9%);
  --info-color: hsl(190.04deg 89.72% 49.61%);
  --info-bg-color: hsl(186.67deg 40.91% 91.37%);
  --danger-color: hsl(0deg 40.26% 84.9%);
  --danger-bg-color: hsl(0deg 65.69% 40%);
  --white-color: hsl(0deg 0% 100%);
  --gray-50: hsl(0deg 0% 98.04%);
  --black30: hsl(0deg 0% 18.82%);
  --black1f: hsl(0deg 0% 12.16%);

  font-size: calc(1vw + 0.6em);
  box-sizing: border-box;
}

@media (min-width: 50em) {
  :root{
    font-size: 1.12em;
  }
}

*::before,
*::after{
  box-sizing: inherit;
}

body{
  margin: 0;
  background-color: var(--gray-50);
  font-family: Helvetica, Arial, sans-serif;
}


@media (min-width: 50em) {
  svg.menu-toggle{
    display: none;
  }

  svg.menu-icon{
    display: none;
  }
}
